-#  This file is app/views/starttest/index.html.haml
%h2 Test de preparación para la certificación Professional Scrum Master (PSM I) de Scrum.org
%br
%p Test de conocimientos sobre Scrum en español. Este es un test de preparación para la certificación Professional Scrum Master (PSM I) de Scrum.org. 
%p Este test es de acceso gratuito e ilimitado para los lectores de los libros en Amazon #{link_to "Gestión práctica de proyectos con Scrum", "http://www.amazon.com/Gesti%C3%B3n-pr%C3%A1ctica-proyectos-con-Scrum-ebook/dp/B00KDYSRLC"} y #{link_to "Certificación Professional Scrum Master", "http://www.amazon.com/Gesti%C3%B3n-pr%C3%A1ctica-proyectos-con-Scrum-ebook/dp/B00KDYSRLC"}
%p Puede encontrar más información en español sobre cómo pasar el test en el blog en mi blog #{link_to "www.antoniomartel.com", "http://www.antoniomartel.com/2013/04/certificacion-professional-scrum-master.html"}

%p Buena suerte!
%p © Antonio Martel
